html, body {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'Poiret One', cursive;
}

body {
    background-color: #e19c41;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 25px;
}

h1, h2 {
    color: #000000;
}

a {
    color: #020075;
}

.center {
    padding-top: 25%;
    text-align: center;
}